-provide(:title, t(:home))

- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.stats
        = render 'shared/stats'
      %section.micropost_form
        = render 'shared/micropost_form'
    .col-md-8
      %h3= t(:micropost_feed)
      = render 'shared/feed'
- else
  .center.jumbotron
    %h1= t(:welcome_title)

    -#%h2
    -#  This is the home page for the
    -#  %a{href: "http://baidu.com"} Setaria

    %h2
      %a{href: "#"}= t(:welcome_content, project_name: "#{t(:base_title)}")

    = link_to t(:sign_up_now), signup_path, class: "btn btn-lg btn-primary"

-#= link_to image_tag("setaria.jpg", alt: "Setaria logo"), root_path
