#{t(:email_hi)} #{@user.name}:
= t(:reset_pwd_email_please_content)

= edit_password_reset_url(@user.reset_token, email: @user.email)

= t(:reset_pwd_email_expire_title)

= t(:reset_pwd_email_expire_content)
