%h1= t(:reset_password)

%p= "#{t(:email_hi)} #{@user.name}:"
%p= t(:reset_pwd_email_please_content)
= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email)

%p= t(:reset_pwd_email_expire_title)

%p
  = t(:reset_pwd_email_expire_content)
