-#%h2 Resend unlock instructions
-#= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
-#  = render "devise/shared/error_messages", resource: resource
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true, autocomplete: "email"
-#  .actions
-#    = f.submit "Resend unlock instructions"
-#= render "devise/shared/links"

- provide(:title, 'Resend unlock instructions')
- provide(:button_text, t("Resend unlock instructions"))

%section#forget-password-page.container.mx-auto.mb-10
  .flex.overflow-clip.bg-blur-light.rounded-3xl{:class => "max-h-[611px] dark:bg-blur-dark"}
    %section.flex.flex-col.h-full.p-8.space-y-8{:class => "md:w-1/3"}
      %h4
        = t("Resend unlock instructions")
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        .flex.flex-col.space-y-8
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :email, t(:Email), class: "block mb-2 body-medium-bold text-dark-400 dark:text-light-600"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-light-300 rounded-lg bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 text-dark-300 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-dark-300 dark:text-light-600 dark:focus:ring-blue-500 dark:focus:border-blue-500'
          .actions
            = f.submit yield(:button_text), class: "base-btn w-full rounded-lg"
      = render "devise/shared/links"

    %section#right-bg{ class: 'md:w-2/3 bg-devise' }
