-# = form_for(@user) do |f|
-#   = render 'shared/error_messages', object: f.object
-#
-#   = f.label :name, t(:user_name)
-#   = f.text_field :name, class: 'form-control'
-#
-#   = f.label :email, t(:user_email)
-#   = f.email_field :email, class: 'form-control'
-#
-#   = f.label :password, t(:user_password)
-#   = f.password_field :password, class: 'form-control'
-#
-#   = f.label :password_confirmation, t(:user_password_confirm)
-#   = f.password_field :password_confirmation, class: 'form-control'
-#
-#   = f.submit yield(:button_text), class: "btn btn-primary"


= form_for(@user) do |f|
  = render 'shared/error_messages', object: f.object
  .flex.flex-col.space-y-6
    %div
      = f.label :name, t(:user_name), class: "block mb-2 body-medium-bold text-dark-400 dark:text-light-600"
      = f.text_field :name, placeholder: "Username", class: 'border border-light-300 rounded bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 text-dark-300 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-dark-300 dark:text-light-600 dark:focus:ring-blue-500 dark:focus:border-blue-500'

    %div
      = f.label :email, t(:email), class: "block mb-2 body-medium-bold text-dark-400 dark:text-light-600"
      = f.email_field :email, placeholder: "Email Address", class: 'border border-light-300 rounded bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 text-dark-300 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-dark-300 dark:text-light-600 dark:focus:ring-blue-500 dark:focus:border-blue-500'

    %div
      = f.label :password, t(:password), class: "block mb-2 body-medium-bold text-dark-400 dark:text-light-600"
      = f.password_field :password, class: 'border border-light-300 rounded bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 text-dark-300 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-dark-300 dark:text-light-600 dark:focus:ring-blue-500 dark:focus:border-blue-50'

    %div
      = f.label :password_confirmation, t(:user_password_confirm), class: "block mb-2 body-medium-bold text-dark-400 dark:text-light-600"
      = f.password_field :password_confirmation, class: 'border border-light-300 rounded bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 text-dark-300 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-dark-300 dark:text-light-600 dark:focus:ring-blue-500 dark:focus:border-blue-50'

    %div
      = f.submit yield(:button_text), class: "text-light-300 bg-primary-600 hover:bg-primary-500 focus:ring-4 focus:outline-none focus:bg-blue-600 heading-h6-bold rounded w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:text-light-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
