- provide(:title, t(:edit_user))
- provide(:button_text, t(:save_changes))

.container.mx-auto.py-8
  .flex.mx-5.p-10.background-clip-content.bg-blur-light.dark:bg-blur-dark.divide-x{ class: 'divide-light-200 dark:divide-dark-400' }

    %aside{ :class => "basis-1/4 py-8 space-y-8" }
      %h4.px-4{ :class => "text-dark-400 dark:text-light-400" }
        = t(:user_settings)
      = render 'left_menu'

    %aside#settingTabContent{ :class => "basis-3/4 pl-16 pr-4 py-8" }


      -##profile.hidden.p-4.bg-light-500.rounded-lg.dark:bg-gray-800{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
      -#  %p.text-sm.text-dark-300.dark:text-light-600
      -#    This is some placeholder content the
      -#    = succeed "." do
      -#      %strong.font-medium.text-dark-400.dark:text-light-400 Profile tab's associated content

      #profile.hidden.flex.flex-col.justify-start.space-y-4{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
        .flex.space-x-4.items-center
          = gravatar_for @user
          %a{ href: "http://gravatar.com/emails", target: "_blank", rel: "noopener", class: "text-dark-300 dark:text-light-600" }= t(:change)

        = render 'users/form'

      #account.hidden.p-4.bg-light-500.rounded-lg.dark:bg-gray-800{"aria-labelledby" => "account-tab", :role => "tabpanel"}
        %p.text-sm.text-dark-300.dark:text-light-600
          This is some placeholder content the
          = succeed "." do
            %strong.font-medium.text-dark-400.dark:text-light-400 Account tab's associated content

      #general.hidden.p-4.bg-light-500.rounded-lg.dark:bg-gray-800{"aria-labelledby" => "general-tab", :role => "tabpanel"}
        %p.text-sm.text-dark-300.dark:text-light-600
          This is some placeholder content the
          = succeed "." do
            %strong.font-medium.text-dark-400.dark:text-light-400 General tab's associated content

      #teams.hidden.p-4.bg-light-500.rounded-lg.dark:bg-gray-800{"aria-labelledby" => "teams-tab", :role => "tabpanel"}
        %p.text-sm.text-dark-300.dark:text-light-600
          This is some placeholder content the
          = succeed "." do
            %strong.font-medium.text-dark-400.dark:text-light-400 Teams tab's associated content

      #billing.hidden.p-4.bg-light-500.rounded-lg.dark:bg-gray-800{"aria-labelledby" => "billing-tab", :role => "tabpanel"}
        %p.text-sm.text-dark-300.dark:text-light-600
          This is some placeholder content the
          = succeed "." do
            %strong.font-medium.text-dark-400.dark:text-light-400 Billing tab's associated content
