-# = form_for(@micropost) do |f|
-#   = render 'shared/error_messages', object: f.object
-#   .field
-#     = f.text_area :content, placeholder: t(:post_hint)
-#   .picture
-#     = f.file_field(:picture, {id: 'micropost_picture', accept: 'image/jpeg,image/jpg,image/gif,image/png'})
-#   = f.submit t(:post), class: "btn btn-primary"

= form_for(@micropost) do |f|
  .div.w-full.p-2.5
    .flex.space-x-4
      = link_to gravatar_for(current_user, size: 50), current_user, class: "mt-2"
      .div.w-full
        = render 'shared/error_messages', object: f.object
        .div.py-2
          = f.text_area :content, placeholder: t(:post_hint), class: "w-full px-2 resize-none border border-light-300 rounded body-medium-regular text-dark-300 bg-light-transparent_300 dark:bg-dark-transparent_300 dark:border-dark-300 focus:ring-0 dark:text-light-600 dark:placeholder-gray-400"
        .div{class: "flex items-center justify-between px-0 py-2"}
          .div{class: "flex pl-0 space-x-2"}

            %label{ id: 'micropost_picture', class: "inline-flex justify-center text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" }
              = image_tag("icons/image")
              = f.file_field(:picture, { id: 'micropost_picture', accept: 'image/jpeg,image/jpg,image/gif,image/png', class: 'hidden'} )
            = f.button(:emoji, { id: 'micropost_picture', accept: 'image/jpeg,image/jpg,image/gif,image/png', class: "inline-flex justify-center text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" } ) do
              = image_tag("icons/emoji")
          = f.submit t(:post), class: "inline-flex items-center py-2.5 px-4 body-small-bold font-medium text-center text-primary-100 bg-primary-400 rounded focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
