- @user ||= current_user
%ul.mt-8.space-y-6
  %li
    .flex.space-x-3
      = image_tag("icons/location.svg")
      %span.body-medium-regular.text-dark-300
        = @user.location
  %li
    = link_to("mailto:#{@user.email}") do
      .flex.space-x-3
        = image_tag("icons/email.svg")
        %span.body-medium-regular.text-dark-300
          = t(:Email)
  %li
    = link_to(@user.github_url) do
      .flex.space-x-3
        = image_tag("icons/github.svg")
        %span.body-medium-regular.text-dark-300
          = t(:Github)
