- @user ||= current_user
%ul.mt-8.space-y-6
  - if @user.email.present?
    %li
      = link_to("mailto:#{@user.email}") do
        .flex.space-x-3
          = image_tag("icons/email.svg")
          %span.body-medium-regular.text-dark-300.dark:text-light-400.hover:underline
            -# = t(:Email)
            = @user.email
  - if @user.location.present?
    %li
      .flex.space-x-3
        = image_tag("icons/location.svg")
        %span.body-medium-regular.text-dark-300.dark:text-light-400
          = @user.location
  - if @user.github_full_url.present?
    %li
      = link_to(@user.github_full_url) do
        .flex.space-x-3
          = image_tag("icons/github.svg")
          %span.body-medium-regular.text-dark-300.dark:text-light-400.hover:underline
            -# = t(:Github)
            = @user.github_full_url
