- @user ||= current_user
.stats
  %a{ href: "#{following_user_path(@user)}"}
    %strong.stat#following
      = @user.following.count
    = t(:following)
  %a{ href: "#{followers_user_path(@user)}"}
    %strong.stat#followers
      = @user.followers.count
    = t(:followers)
  %a{ href: "#{user_path(@user)}"}
    %strong.stat#my_profile
      = @user.microposts.count
    = t(:micropost, count: @user.microposts.count)
