- @user ||= current_user
.flex.space-x-2.mt-2{class: 'body-medium-regular text-dark-300 dark:text-light-600'}
  %a{ href: "#{following_user_path(@user)}" }
    %strong.body-medium-regular
      = @user.following.count
    = t(:following)
  %a{ href: "#{followers_user_path(@user)}"}
    %strong.body-medium-regular
      = @user.followers.count
    = t(:followers)
