%li{ id: "micropost-#{micropost.id}", class: "px-3 py-5"}
  .flex.flex-col.space-y-4
    .flex.flex-row.items-start
      -#  头像
      = link_to gravatar_for(micropost.user, size: 50), micropost.user
      .flex.w-full.pl-4.justify-between
        -#  名字
        .flex.flex-col.space-y-1
          = link_to(micropost.user.name, micropost.user, class: 'heading-h6-bold text-dark-400 dark:text-light-400')

          %span.body-small-bold.text-dark-200
            - time_ago = time_ago_in_words(micropost.created_at)
            = t('post_time', time_ago: I18n.locale == :en ? time_ago : time_ago.gsub(/\s/, ""))

        -#  更多
        %div.relative{ "data-controller" => "dropdown" }
          %button{ "data-action" => "dropdown#toggle click@window->dropdown#hide" }
            = image_tag("icons/more_horizontal.svg")
          .z-10.hidden.transition.transform.absolute.right-0.origin-top-right.bg-light-100.divide-y.divide-dark-400.rounded.shadow{ class: "dark:bg-gray-500", "data-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95" }
            %ul{ "class" => "py-1 text-sm text-gray-700 dark:text-gray-200" }
              %li
                = button_to( t(:delete), micropost_path(micropost.id), "data-action" => "dropdown#toggle", method: :delete, data: { turbo_method: :delete, turbo_confirm: t(:are_you_sure) }, class: "block py-2 px-4 text-sm text-gray-700 whitespace-nowrap hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" )
              %li
                %a.block.py-2.px-4.text-sm.text-gray-700.whitespace-nowrap{:href => "#", "data-action" => "dropdown#toggle", class: "hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"}
                  = t(:edit)

    .div
      -#  post 内容
      %span.body-medium-regular{ class: 'text-dark-300 dark:text-light-600' }
        = micropost.content
      = image_tag micropost.picture.url if micropost.picture?
    -#.div
    -#  -#  评论 转发 点赞
    -#  .flex.w-full.justify-between
    -#    .flex.space-x-2
    -#      = image_tag("icons/comment")
    -#      -#%span.body-small-bold.text-dark-200 1
    -#    .flex.space-x-2
    -#      = image_tag("icons/retweet")
    -#      -#%span.body-small-bold.text-dark-200 20
    -#    .flex.space-x-2
    -#      = image_tag("icons/like")
    -#      -#%span.body-small-bold.text-dark-200 333
    -#
    -#
    -#-# - if current_user?(micropost.user)
    -#-#   = link_to t(:delete), micropost, method: :delete,
    -#-#                                  data: { confirm: t(:confirm)}
