%li{ id: "micropost-#{micropost.id}"}
  = link_to gravatar_for(micropost.user, size: 50), micropost.user
  %span.user= link_to micropost.user.name, micropost.user
  %span.content
    = micropost.content
    = image_tag micropost.picture.url if micropost.picture?
  %span.timestamp
    - time_ago = time_ago_in_words(micropost.created_at)
    = t('post_time', time_ago: I18n.locale == :en ? time_ago : time_ago.gsub(/\s/, ""))

    - if current_user?(micropost.user)
      = link_to t(:delete), micropost, method: :delete,
                                     data: { confirm: t(:confirm)}
