%li{ id: "micropost-#{micropost.id}", class: "px-3 py-2.5 border border-solid border-light-200"}
  .flex.flex-col.space-y-2
    .flex.flex-row.items-start
      -#  头像
      = link_to gravatar_for(micropost.user, size: 50), micropost.user
      .flex.w-full.pl-4.justify-between
        -#  名字
        .flex.flex-col.space-y-1
          = link_to(micropost.user.name, micropost.user, class: 'heading-h6-bold')

          %span.body-small-bold.text-dark-200
            - time_ago = time_ago_in_words(micropost.created_at)
            = t('post_time', time_ago: I18n.locale == :en ? time_ago : time_ago.gsub(/\s/, ""))

        -#  更多
        %button#dropdownDefault{"aria-expanded" => "false", "data-dropdown-placement" => "bottom-end", "data-dropdown-toggle" => "post-dropdown-more"}
          = image_tag("icons/more_horizontal")
        #post-dropdown-more.z-10.hidden.bg-light-100.divide-y.divide-dark-400.rounded.shadow.w-44.dark:bg-gray-500
          %ul{ "class" => "py-1 text-sm text-gray-700 dark:text-gray-200", "aria-labelledby" => "dropdownDefault" }
            %li
              %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => micropost_path(micropost), data: { turbo_method: :delete } }
                = t(:delete)
            %li
              %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => "#"}
                = t(:edit)

    .div.py-2
      -#  post 内容
      = micropost.content
      = image_tag micropost.picture.url if micropost.picture?
    -#.div
    -#  -#  评论 转发 点赞
    -#  .flex.w-full.justify-between
    -#    .flex.space-x-2
    -#      = image_tag("icons/comment")
    -#      -#%span.body-small-bold.text-dark-200 1
    -#    .flex.space-x-2
    -#      = image_tag("icons/retweet")
    -#      -#%span.body-small-bold.text-dark-200 20
    -#    .flex.space-x-2
    -#      = image_tag("icons/like")
    -#      -#%span.body-small-bold.text-dark-200 333
    -#
    -#
    -#-# - if current_user?(micropost.user)
    -#-#   = link_to t(:delete), micropost, method: :delete,
    -#-#                                  data: { confirm: t(:confirm)}
