%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to t(:base_title), root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t(:home), root_path
        %li= link_to t(:help), help_path
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
            #{t(:language)}
            %b.caret
            %ul.dropdown-menu
              %li= link_to '中文', language_path(locale: 'zh-CN')
              %li= link_to 'English', language_path(locale: 'en')
        - if logged_in?
          %li= link_to t(:users), users_path
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
              #{t(:account)}
              %b.caret
            %ul.dropdown-menu
              %li= link_to t(:profile), current_user
              %li= link_to t(:settings), edit_user_path(current_user)
              %li.divider
              %li= link_to t(:logout), logout_path, data: { turbo_method: :delete }
        - else
          %li= link_to t(:login), login_path


-#%header.bg-gray-400.font-sans.leading-normal.tracking-normal
-#  %nav.bg-gray-800.p-2.mt-0.fixed.w-full.z-10.top-0
-#    .container.mx-auto.flex.flex-wrap.items-center
-#      .flex.w-full.justify-center.text-white.font-extrabold{ :class => "md:w-1/2 md:justify-start" }
-#        %a.text-white.no-underline{ :class => "hover:text-white hover:no-underline", :href => "#" }
-#          %span.text-2xl.pl-2
-#            %i.em.em-grinning
-#              Brand McBrandface
-#      .flex.w-full.pt-2.content-center.justify-between{:class => "md:w-1/2 md:justify-end"}
-#        %ul{:class => "list-reset flex justify-between flex-1 md:flex-none items-center"}
-#          %li.mr-3
-#            %a{:class=>"inline-block py-2 px-4 text-white no-underline", :href=>"#"}Active
-#          %li.mr-3
-#            %a{:class=>"inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4", :href=>"#"}Link
-#          %li.mr-3
-#            %a{:class=>"inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4", :href=>"#"}Link
-#          %li.mr-3
-#            %a{:class=>"inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4", :href=>"#"}Link
