- if content_for?(:no_app_layout)
- else
  %header.leading-normal.tracking-normal
    %nav.py-8.mt-0.w-full.top-0.left-0.relative.z-10{:class => "bg-transparent"}
      .container.flex.flex-wrap.justify-between.items-center.mx-auto.px-5
        %a.flex.items-center.no-underline{ :class => "hover:text-white hover:no-underline md:order-first", :href => root_path }
          %h3.self-center{:class => "text-dark-400 dark:text-light-300"}
            =t(:base_title)

        #mobile-menu-2.hidden.w-full.md:block.md:w-auto
          %ul.flex.flex-col.mt-4{:class => "md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"}
            %li
              %a{ :class=>"block py-2 px-4 pl-3 no-underline body-medium-bold text-dark-300 dark:text-light-300 hover:text-dark-400 hover:underline", :href => root_path }
                =t(:home)
            %li
              %a{ :class=>"block py-2 px-4 pl-3 no-underline body-medium-bold text-dark-300 dark:text-light-300 hover:text-dark-400 hover:underline", :href => posts_path }
                =t(:posts)
            %li
              %a{ :class=>"block py-2 px-4 pl-3 no-underline body-medium-bold text-dark-300 dark:text-light-300 hover:text-dark-400 hover:underline", :href => about_path }
                =t(:about)
            %li{"data-controller" => "theme-toggle"}
              / Dark mode switcher
              %button#theme-toggle{ "data-action" => "click->theme-toggle#handleToggleTheme", :class=> "flex justify-between items-center w-full rounded-lg text-sm p-2.5 border-b border-light-300 hover:bg-dark-500 md:border-0 hover:text-light-100 text-dark-300 dark:text-light-300 dark:hover:bg-dark-100"}
                = image_tag("icon_theme_toggle_dark.svg", class: "hidden", id: "theme-toggle-dark-icon", "data-theme-toggle-target": "toggleDarkIcon")
                = image_tag("icon_theme_toggle_light.svg", class: "hidden", id: "theme-toggle-light-icon", "data-theme-toggle-target": "toggleLightIcon")
              / Dark mode switcher end
              %button{"class" => "md:hidden text-dark-300 hover:bg-dark-400 focus:outline-none focus:ring-2 focus:ring-gray-200 rounded-lg.text-sm p-2 inline-flex items-center dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600", "aria-controls" => "mobile-menu-4", "aria-expanded" => "false", "data-collapse-toggle" => "mobile-menu-4", :type => "button"}
                %span.sr-only Open main menu
                %svg.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
                %svg.hidden.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}

            - if user_signed_in?
              %li{ :class => "flex flex-col items-center" }
                %button{:class => "flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600","aria-expanded" => "false", "data-dropdown-toggle" => "dropdown", :type => "button"}
                  %span.sr-only Open user menu
                  -#%img.w-8.h-8.rounded-full{:alt => "user photo", :src => "/docs/images/people/profile-picture-3.jpg"}/
                  = gravatar_for current_user, class: "w-10 h-10 rounded-full"
                / Dropdown menu
                #dropdown{:class => "hidden z-50 my-4 text-base list-none bg-light-100 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"}
                  .py-3.px-4
                    %span.block.text-sm.text-gray-900.dark:text-white
                      = current_user.name
                    %span.block.text-sm.font-medium.text-gray-500.truncate.dark:text-gray-400
                      = current_user.email
                  %ul.py-1{"aria-labelledby" => "dropdown"}
                    %li
                      %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => user_path(current_user)}
                        = t(:profile)
                    %li
                      %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => users_path}
                        = t(:users)
                    %li
                      %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => edit_user_path(current_user)}
                        = t(:settings)
                  .py-1
                    %a.block.py-2.px-4.text-sm.text-gray-700.hover:bg-gray-100.dark:hover:bg-gray-600.dark:text-gray-200.dark:hover:text-white{:href => destroy_user_session_path, data: { turbo_method: :delete }}
                      = t(:logout)
                %button.inline-flex.items-center.p-2.ml-1.text-sm.text-gray-500.rounded-lg.md:hidden.hover:bg-gray-100.focus:outline-none.focus:ring-2.focus:ring-gray-200.dark:text-gray-400.dark:hover:bg-gray-700.dark:focus:ring-gray-600{"aria-controls" => "mobile-menu-2", "aria-expanded" => "false", "data-collapse-toggle" => "mobile-menu-2", :type => "button"}
                  %span.sr-only Open main menu
                  %svg.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{"clip-rule" => "evenodd", :d => "M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
                  %svg.hidden.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{"clip-rule" => "evenodd", :d => "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
            - else
              %li
                %a{ :class => "block py-2 px-4 pl-3 no-underline body-medium-bold text-dark-300 dark:text-light-300 hover:text-dark-400 hover:underline", :href => new_user_session_path }
                  = t("login")
