%head
  %title= full_title(yield(:title))
  %meta{ "name": "viewport", "content": "width=device-width,initial-scale=1" }
  -# https://turbo.hotwired.dev/handbook/drive#ensuring-specific-pages-trigger-a-full-reload
  -#%meta{ "name": "turbo-visit-control", "content": "reload" }
  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag "tailwind","inter-font", "data-turbo-track": 'reload'
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags

  = render 'application/favicon'
  = render 'layouts/shim'
