-# = render "layouts/broadcast"
%div#page-container.relative
  %main.min-h-screen.content-wrapper.pb-96{ id: "content-body" }
    = render 'layouts/header'
    - if content_for?(:home_bg)
      .absolute.top-0.left-0.h-screen.w-full.bg-not-login.min-h-screen
      .absolute.top-0.left-0.bg-home.dark:bg-home-dark.w-full.h-screen
    %div.relative{ class: "#{(container_class unless @no_container)} #{page_with_sidebar_class} #{(bg_blur_wrap_class if @bg_blur_wrap)}" }
      - if defined?(nav) && nav
        = render "layouts/nav/sidebar/#{nav}"
      = render "layouts/flash"
      = yield :before_content
      = yield

  = yield :after_content
  = render 'layouts/footer'
