!!!5
%html
  %head
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_importmap_tags

    = render 'layouts/shim'

  %body
    = render 'layouts/header'
    .container
      - flash.each do |message_type, message|
        -#%div{:class => "alert alert-#{message_type}"}
        -#  = message
        = content_tag(:div, message, class: "alert alert-#{message_type}")
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?

-#加入以下三句使bootstrap dropdown生效
%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
%script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
%script
  $('.dropdown-toggle').dropdown()
