!!!5
%html
  %head
    %title= full_title(yield(:title))
    %meta{ "name": "viewport", "content": "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "tailwind","inter-font", "data-turbo-track": 'reload'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    = render 'application/favicon'
    = render 'layouts/shim'

  %body{:class => "flex flex-col min-h-screen bg-light-100 dark:bg-dark-600"}
    - unless content_for?(:no_app_layout)
      .flex.flex-col
        = render 'layouts/header'
        = render 'layouts/flash'
      %div.app-content-container
        = yield
      = render 'layouts/footer'
    - else
      = yield
    -# = debug(params) if Rails.env.development?

:javascript
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
  } else {
      document.documentElement.classList.remove('dark')
  }
