!!!5
%html
  %head
    -#%title= full_title(yield(:title)) || "something others"
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -#[if lt IE 9]
    -#  %script{src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"}
    -#[endif]
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to "Iverfeng", '#', id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Home", '#'
            %li= link_to "Help", '#'
            %li= link_to "Log in", '#'

    .container
      =yield
